
<div class="panel panel-success ">
    <div class="panel-heading">
        <h3 class="panel-title">文章分类</h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            {% for category in category_list %}
                <li class=""><a href="/blog/{{ username }}/category/{{ category.title }}/">{{ category.title }}
                    ({{ category.article_set.count }})</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">文章标签</h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            {% for tag in tag_list %}
                <li class=""><a href="/blog/{{ username }}/tag/{{ tag.title }}/">{{ tag.title }}
                    ({{ tag.article_set.count }})</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">日期归档</h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            {% for ret in create_time %}
                <li class=""><a href="/blog/{{ username }}/archive/{{ ret.create_time }}/">{{ ret.create_time }}
                    ({{ ret.num }})</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


{##}
{#<div class="panel panel-default">#}
{#    <div class="panel-heading">#}
{#        <h3 class="panel-title">文章分类</h3>#}
{#    </div>#}
{#    <div class="panel-body">#}
{#        <ul class="list-unstyled">#}
{#            {% for category in category_list %}#}
{#                <li>#}
{#                    <a href="/blog/{{ username }}/category/{{ category.title }}/">{{ category.title }}({{ category.num }})</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{##}
{#    </div>#}
{#</div>#}
{#<div class="panel panel-info">#}
{#    <div class="panel-heading">#}
{#        <h3 class="panel-title">文章标签</h3>#}
{#    </div>#}
{#    <div class="panel-body">#}
{#        <ul class="list-unstyled">#}
{#            {% for tag in tag_list %}#}
{#                <li><a href="/blog/{{ username }}/tag/{{ tag.title }}/">{{ tag.title }}({{ tag.article_set.count }})</a>#}
{#                </li>#}
                {#                        <li><a href="">{{ category.title }}({{ category.num }})</a></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
{#<div class="panel panel-warning">#}
{#    <div class="panel-heading">#}
{#        <h3 class="panel-title">日期归档</h3>#}
{#    </div>#}
{#    <div class="panel-body">#}
{#        <ul class="list-unstyled">#}
{#            {% for archive in archive_list %}#}
{#                <li><a href="/blog/{{ username }}/archive/{{ archive.ym }}/">{{ archive.ym }}({{ archive.num }})</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#</div>#}