<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="login-form">
            <form novalidate autocomplete="off">
                <div class="form-group ">
                    <label for="{{ form_obj.username.id_for_label }}">{{ form_obj.username.label }}</label>
                    {{ form_obj.username }}
                    <span>{{ form_obj.username.errors.0 }}</span>
                </div>
                <div class="form-group">
                    <label for="{{ form_obj.password.id_for_label }}">{{ form_obj.password.label }}</label>
                    {{ form_obj.password }}
                    <span>{{ form_obj.password.errors.0 }}</span>
                </div>
                <div class="form-group" id="v-code-wrapper">
                    <label for="v-code-input">验证码</label>
                    <input type="text" class="form-control" id="v-code-input">
                    <img src="/v_code/" alt="" id="v-code">
                </div>
                <p class="error" id="error-msg"></p>
                <button type="button" id="login-button" class="btn btn-default">登录</button>
            </form>
        </div>
    </div>
</div>
<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/setupAjax.js"></script>
<script>
    $(document).ready(function () {
        // 文章加载完后执行的
        $("#login-button").click(function () {
            // 点击登录按钮要做的事
            $.ajax({
                url: "",
                type: "POST",
                data: {
                    username: $("#id_username").val(),
                    password: $("#id_password").val(),
                    v_code: $("#v-code-input").val()
                },
                success: function (data) {
                    if (!data.code) {
                        location.href = data.data;
                    } else {
                        $("#error-msg").text(data.data);
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
        });
        $("form input").focus(function () {
            $("#error-msg").text("")
        });
        $("#v-code").click(function () {
            this.src += "?";
        });
    })
</script>
</body>
</html>